h1{
 font-family: 'Coiny', cursive;
}
a {
  border: dotted 1px;
  border-color: yellow
  
}
a:hover{
  background-color: green;
}
body>header{
  margin-top: 60px;
}
section article p{
  padding: 2em 1em;
  
margin-bottom: 2em;
  background-color:#e9ecef;
  border-radius: 1e,;
}

h1{
  text-shadow: 5px 5px grey;
text-align: center;
width: 100%;
float: left;
  background-color: greenyellow;
}